.main {
  max-width: 1100px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  display: grid;
  grid-template-areas:
    'l f t'
    'l f c';
  grid-column-gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 850px;
  min-height: 100vh;
  grid-area: c;
  background-color: rgb(255, 255, 255);
}

.title {
  grid-area: t;
  padding: 15px;
  margin-left: 25px;
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
}

h2 {
  align-self: center;
  margin: 10px;
}
